@import "Shared/Colors.scss";

#Chat {
    height: calc(100% - 67px);
    width: 100%;

    background-color: #141018;
    box-shadow: 0px 0px 4px #000000;

    margin-top: 65px;
    left: 300px;

    top: 0;

    .ChatWrapper {
        display: flex;

        height: calc(100% - (70px));

        flex-flow: column-reverse;

        overflow-y: scroll;

        padding-bottom: 12.5px;

        &::-webkit-scrollbar-track {
            width: 1px;
            background-color: #141018;
          }
          
        &::-webkit-scrollbar-track-piece {
          width: 1px;
          background-color: #141018;
        }
    }
}
