$COL-MAIN: #1F1926;
$COL-SEC: #3C3149;
$COL-THI: #2C2436;

$COL-TEXT: #D2D2D2;

$COL-PRIMARY: #4B9EFF;
$COL-ERROR: rgb(255, 99, 99);
$COL-WARNING: rgb(223, 195, 37);
$COL-SUCCESS: rgb(43, 223, 37);
$COL-NONE: rgb(58, 59, 58);
