#Channel {
    cursor: pointer;

    &:hover {
        background-color: rgba(gray, .2);
        .icon {
            color: gray + 100;
        }

        .name {
            color: gray + 100;
        }
    }

    svg {
        position: absolute;
        margin-top: 2.5px;
        left: 0;

        path {
            transition: .5s;
            fill: rgba(gray + 500, 0);
        }
    }

    &.message .name {
        color: rgba(gray + 500, 1);
    }

    &.message svg path {
        fill: rgba(gray + 500, 1);
    }

    .icon {
        font-size: 16px;
    }

    .name {
        position: relative;
        padding-left: 5px;
        bottom: 2.5px;

        transform: .5s;

        font-weight: normal;
    }
}