#Channel {
    cursor: pointer;

    width: 105%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    &:hover {
        background-color: rgba(gray, .2);
        .icon {
            color: gray + 100;
        }

        .name {
            color: gray + 100;
        }

        svg.voiceJoin {
            display: inline;
        }
    }

    svg.notification {
        position: absolute;
        margin-top: 2.5px;
        left: 0;

        path {
            transition: .5s;
            fill: rgba(gray + 500, 0);
        }
    }

    &.message .name {
        color: rgba(gray + 500, 1);
    }

    &.message svg path {
        fill: rgba(gray + 500, 1);
    }

    .icon {
        font-size: 18px;
    }

    svg.voiceJoin {
        position: absolute;

        width: 18px;
        height: 18px;

        padding: 5px;

        margin-top: -3px;
        left: 270px;

        transition: 0s;

        display: none;

        &:hover {
            path {
                fill: rgba(gray + 500, 1);
            }
        }
    }

    .name {
        position: relative;
        padding-left: 5px;
        bottom: 2px;

        transform: .5s;

        font-weight: normal;
    }
}