@import "Shared/Colors.scss";

#Message {
  padding-left: 20px;
  padding-bottom: 0px;

  width: 90%;

  overflow-x: visible;
  overflow-y: visible;

  .avatar {
    position: relative;
    width: 50px;
    height: 50px;

    font-size: 50%;
  }

  .right {
    position: relative;

    left: 60px;
    top: -50px;

    .identity {
      top: 7.5px;

      .name {
        position: relative;
  
        color: white;
        font-weight: bold;
  
        .identifier {
          position: relative;
  
          font-size: 0.6em;
  
          margin-top: 5px;
          left: -.2%;
  
          font-weight: normal;
          color: rgb(133, 133, 133);
        }
      }
    }

    .message {
      position: relative;
  
      font-size: .95em;

      color: rgb(173, 173, 173);

      display: table;

      .msgPart {
        display: table-cell;
        vertical-align: middle;
      }

      .emoji-mart-emoji {
        display: table-cell;
        vertical-align: middle;

        font-size: 1.5em !important;
        
        padding-left: 2px;
        padding-right: 2px;

        width: 1em !important;
        height: 1em !important;

        span {
          position: absolute;

          width: 1em !important;
          height: 1em !important;

          transform: translate(-0.01em, -0.5em);
        }
      }
    }
  
    .timeAgo {
      position: absolute;

      left: 0;
      top: 100%;
      margin-top: 2.5px;
      width: 150px;
      

      font-size: .8em;
      color: gray;

      cursor: context-menu;
      transition: .5s;

      user-select: none;

      &:hover {
        color: gray + 50;
      }
    }
  }
}
