@import "Shared/Colors.scss";

#Message {
  padding-left: 20px;
  padding-bottom: 0px;

  width: 90%;

  overflow-x: visible;
  overflow-y: visible;

  .emoji-mart-emoji {
    margin-right: 3px;
    transform: translate(2.5px, 5px);
  }

  .avatar {
    position: relative;
    width: 50px;
    height: 50px;

    font-size: 50%;
  }

  .right {
    position: relative;

    left: 60px;

    top: -58px;

    .identity {
      position: absolute;

      top: 7.5px;

      .name {
        position: relative;
  
        color: white;
        font-weight: bold;
  
        .identifier {
          position: relative;
  
          font-size: 0.6em;
  
          margin-top: 5px;
          left: -.2%;
  
          font-weight: normal;
          color: rgb(133, 133, 133);
        }
      }
    }

    .message {
      position: relative;

      top: 25px;

      font-size: .9em;
      color: rgb(173, 173, 173);
    }
  
    .timeAgo {
      position: absolute;

      left: 0;
      top: 100%;
      margin-top: 5px;
      width: 100px;
      

      font-size: .8em;
      color: gray;

      cursor: context-menu;
      transition: .5s;

      &:hover {
        color: gray + 50;
      }
    }
  }
}
