@import "./Shared/Colors.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: fixed $COL-MAIN;
  color: $COL-TEXT;

  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.bg-main {
  background: fixed $COL-MAIN;
}
