@import "./Shared/Colors.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: fixed $COL-MAIN;
  color: $COL-TEXT;

  width: 100%;
  height: 100%; 
}

#root {
  width: 100%;
  height: 100%;
}

.bg-main {
  background: fixed $COL-MAIN;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: RED;
}

::-webkit-scrollbar-track {
  width: 1px;
  background-color: $COL-MAIN;
}

::-webkit-scrollbar-track-piece {
  width: 1px;
  background-color: $COL-MAIN;
}

::-webkit-scrollbar-thumb {
  background-color: $COL-MAIN + 30;
}

.absolute {
  position: absolute;
}

.right {
  right: 0;
}